{% set performances = __SELF__.performances %}<!-- Performances -->
							<nav id="page-navigation" role="navigation" class="secondary-navigation">
								<ul class="nav-menu">
									{% for section in performancesMenu %}<!-- {{ section.slug }} -->
									<li class="nav-menu-item {{ section.active }}"><a href="#{{ section.slug }}">{{ section.title }}</a>
										<ul class="nav-submenu">
											{% for performance in section.menu %}<!-- {{ performance.slug }} -->
											<li class="nav-submenu-item">
												<a href="{{ performance.url }}">
													<div class="title">{{ performance.title }}</div>
													<div class="author">{{ performance.author }}</div>
												</a>
											</li>
											{% endfor %}<!-- /End -->
										</ul>
									</li>
									{% endfor %}<!-- /End -->
								</ul>
							</nav>
							<div class="content">
								{% for section in performancesMenu %}<!-- {{ section.slug }} -->
								<div id="{{ section.slug }}" class="section {{ section.active }}">
									{% for performance in section.performances %}<!-- {{ performance.slug }} -->
									<div class="performance">
										<a href="{{ performance.url }}" class="playbill" style="background: url('{{ performance.repertoire.path }}');" title="{{ performance.title }}" alt="{{ performance.title }}"></a>
										<div class="title-block">
											<div class="title"><a href="{{ performance.url }}">{{ performance.title }}</a><span class="rate">{{ performance.rate }}+</span></div>
											<div class="author">{{ performance.author }}</div>
											<div class="description">{{ performance.description }}</div>
										</div>
										<div class="synopsis">{{ performance.synopsis|raw }}</div>
										<div class="performance-link"><a href="{{ performance.url }}">Посмотреть спектакль</a></div>
									</div>
									{% endfor %}<!-- /End -->
								</div>
								{% endfor %}<!-- /End -->
							</div>

