

                                <div class="event">
                                    <div class="date-block"><span class="date day">{{ event.datetime | date('j') }}</span><span class="date weekday">{{ event.datetime | dateLocale('%a') }}</span></div>
                                    <div class="title-block">
                                        <span class="title"><a href="{{ event.url }}">{{ event.performance.title }}</a></span>
                                        {% if event.performance.author != null %}
                                        <span class="author">{{ event.performance.author }}</span>
                                        {% elseif event.performance.description %}
                                        <span class="description">{{ event.performance.description }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="other"><span class="rate">{{ event.performance.rate }}+</span> </div>
                                    <div class="meta"><span class="duration">длительность {{ event.performance.duration | duration }},</span><span class="start-time">начало в {{ event.datetime | date('H:i') }}</span> </div>
                                </div>

