
                                {% for article in news %}<!-- Post -->
                                <div class="post">
                                    <div class="title-block">
                                        <div class="source">{{ article.source }}</div>
                                        <div class="source-author">{{ article.source_author }}</div>
                                        <div class="source-date">{{ article.source_date }}</div>
                                    </div>
                                    <div class="content-block">
                                        <div class="title"><a href="{{ article.url }}">{{ article.title }}</a></div>
                                        <div class="excerpt">{{ article.excerpt|raw }}</div>
                                        <div class="meta">
                                            <a href="{{ article.url }}">Читать статью…</a>
                                            <span class="comments">
                                                <i class="fa fa-comments-o"></i> 12
                                            </span>
                                            <span class="views">
                                                <i class="fa fa-eye"></i> 456
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}<!-- End -->
