
                                {% for person in troupe %}<!-- {{ person.slug }} -->
                                <div class="person">
                                    <div class="portret">
                                        <a href="{{ person.url }}">
                                            {% if person.portrait.path %}
                                            <img src="{{ person.portrait.path }}" width="100%" height="auto">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="caption">
                                        <p class="grade">{{ person.grade }}</p>
                                        <div class="title">
                                            <a href="{{ person.url }}">{{ person.title }}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}<!-- /End -->
