<!-- Press -->
							<nav id="page-navigation" role="navigation" class="secondary-navigation">
								<ul class="nav-menu">
									<li class="nav-menu-item"><a href="#">Меню</a>
										<ul class="nav-submenu">
											<li class="nav-submenu-item">
												<a href="#">
													<div class="title">Подменю</div>
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
							<div class="content">
								<div class="container">
									<div class="source-date">{{ content.source_date }}</div>
									<div class="source">{{ content.source }}</div>
									<div class="source-author">{{ content.source_author }}</div>
									<div class="title">{{ content.title }}</div>
									<div class="article">{{ content.content|raw }}</div>
								</div>
							</div>

<!-- <pre>{{ test|raw }}</pre> -->