{% set playbill = __SELF__.playbill %}<!-- Playbill -->
							<nav id="page-navigation" role="navigation" class="secondary-navigation">
								<ul class="nav-menu">
									{% for month, months in __SELF__.playbillMonths %}<!-- {{ month }} -->
									<li class="nav-menu-item {{ months.active }}"><a href="#{{ month }}">{{ months.name }}</a></li>
									{% endfor %}<!-- /End -->
									<li class="nav-menu-item"><a href="#child">Детские спектакли</a></li>
								</ul>
							</nav>
							<div class="content">
								{% for month, months in __SELF__.playbillMonths %}<!-- {{ month }} -->
								<div id="{{ month }}" class="section {{ months.active }}">
									{% for performance in months.normal %}<!-- {{ performance.slug }} -->
									<div class="performance">
										<div class="date-block"><span class="date day">{{ performance.day }}</span><span class="date weekday">{{ performance.weekday3 }}</span></div>
										<div class="title-block">
											<span class="title"><a href="{{ performance.url }}">{{ performance.performance.title }}</a></span>
											{% if performance.performance.author != null %}
											<span class="author">{{ performance.performance.author }}</span>
											{% elseif performance.performance.description %}
											<span class="description">{{ performance.performance.description }}</span>
											{% endif %}
										</div>
										<div class="other"><span class="rate">{{ performance.performance.rate }}+</span> </div>
										<div class="meta"><span class="duration">длительность {{ performance.duration }},</span><span class="start-time">начало в {{ performance.time }}</span> </div>
									</div>
									{% endfor %}<!-- /End -->
									{% if months.child %}<h3>Детские спектакли</h3>
									{% for performance in months.child %}<!-- {{ performance.slug }} -->
									<div class="performance">
										<div class="date-block"><span class="date day">{{ performance.day }}</span><span class="date weekday">{{ performance.weekday3 }}</span></div>
										<div class="title-block">
											<span class="title"><a href="{{ performance.url }}">{{ performance.performance.title }}</a></span>
											<span class="author">{{ performance.performance.author }}</span>
										</div>
										<div class="other"><span class="rate">{{ performance.performance.rate }}+</span> </div>
										<div class="meta"><span class="duration">длительность {{ performance.duration }},</span><span class="start-time">начало в {{ performance.time }}</span> </div>
									</div>
									{% endfor %}{% endif %}<!-- /End -->
								</div>
								{% endfor %}<!-- /End -->
								<div id="child" class="section">
									{% for month, months in __SELF__.playbillMonths %}{% if months.child %}<!-- {{ month }} -->
									<h3>{{ months.name }}</h3>
									{% for performance in months.child %}<!-- {{ performance.slug }} -->
									<div class="performance">
										<div class="date-block"><span class="date day">{{ performance.day }}</span><span class="date weekday">{{ performance.weekday3 }}</span></div>
										<div class="title-block">
											<span class="title"><a href="{{ performance.url }}">{{ performance.performance.title }}</a></span>
											<span class="author">{{ performance.performance.author }}</span>
										</div>
										<div class="other"><span class="rate">{{ performance.performance.rate }}+</span> </div>
										<div class="meta"><span class="duration">длительность {{ performance.duration }},</span><span class="start-time">начало в {{ performance.time }}</span> </div>
									</div>
									{% endfor %}<!-- /End -->
									{% endif %}{% endfor %}<!-- /End -->
								</div>
							</div>
