<!-- {{ event.slug }} -->
<div class="event">
    <div class="buy-button-block"><a href="#" class="buy-button">Купить билет!</a></div>
    <div class="date-block"><span class="date day">{{ event.datetime | date('j') }}</span><span class="date weekday">{{ event.datetime | dateLocale('%a') }}</span></div>
    <div class="title-block">
        <div class="title"><a href="{{ event.performance.url }}">{{ event.performance.title }}</a></div>
        <div class="rate">{{ event.performance.rate }}+</div>

        {% if event.performance.author != null %}<div class="author">{{ event.performance.author }}</div>
        {% elseif event.performance.description %}<div class="description">{{ event.performance.description }}</div>{% endif %}

        <div class="meta">
            <span class="duration">длительность {{ event.performance.duration | duration }},</span>
            <span class="start-time">начало в {{ event.datetime | date('H:i') }}</span>
        </div>
    </div>
</div>

