{% set calendar = __SELF__.playbill %}<!-- Playbill -->
						{% partial __SELF__ ~ "::performances" performances=calendar %}
						<div class="calendar">
							<div class="container">
								<div class="wraper">
									<button type="button" data-role="none" class="nav slick-prev" style="display: block;">Назад</button>
									<div class="slider">
										{% partial __SELF__ ~ "::dates" performances=calendar %}
									</div>
									<button type="button" data-role="none" class="nav slick-next" style="display: block;">Вперед</button>
								</div>
							</div>
						</div>
