{% set troupe = __SELF__.troupe %}<!-- Troupe -->
							<nav id="page-navigation" role="navigation" class="secondary-navigation">
								<ul class="nav-menu">
									<li class="nav-menu-item active"><a href="#hudozhestvennyj-rukovoditel">Художественный руководитель</a></li>
									{% for section in personsMenu %}<!-- {{ section.slug }} -->
									<li class="nav-menu-item"><a href="#{{ section.slug }}">{{ section.title }}</a>
										<ul class="nav-submenu">
											{% for person in section.menu %}<!-- {{ person.slug }} -->
											<li class="nav-submenu-item">
												<a href="{{ person.url }}">
													<div class="title">{{ person.title }}</div>
												</a>
											</li>
											{% endfor %}<!-- /End -->
										</ul>
									</li>
									{% endfor %}<!-- /End -->
								</ul>
							</nav>
							<div class="content">
								<div id="hudozhestvennyj-rukovoditel" class="section active">
									{% content "hudozhestvennyj-rukovoditel" %}
								</div>
								{% for section in personsMenu %}
								<div id="{{ section.slug }}" class="section">
									{% for person in section.persons %}<!-- {{ person.slug }} -->
									<div class="person">
										<div class="portret">
											<a href="{{ person.url }}">
												<!-- <img src="{{ person.portrait }}" width="100%" height="auto"> -->
												<img src="/themes/komedianty/content/person/{{ person.slug }}/troupe.jpg" width="100%" height="auto">
											</a>
										</div>
										<div class="caption">
											<p class="grade">{{ person.grade }}</p>
											<div class="title">
												<a href="{{ person.url }}">{{ person.title }}</a>
											</div>
										</div>
									</div>
									{% endfor %}<!-- /End -->
								</div>
								{% endfor %}<!-- /End -->
							</div>

