{% set performance = __SELF__.performance %}<!-- Performance -->
							<nav id="page-navigation" role="navigation" class="secondary-navigation">
								<ul class="nav-menu">
									{% for section in performancesMenu %}<!-- {{ section.slug }} -->
									<li class="nav-menu-item {{ section.active }}"><a href="#{{ section.slug }}">{{ section.title }}</a>
										<ul class="nav-submenu">
											{% for performance in section.menu %}<!-- {{ performance.slug }} -->
											<li class="nav-submenu-item {{ performance.active }}">
												<a href="{{ performance.url }}">
													<div class="title">{{ performance.title }}</div>
													<div class="author">{{ performance.author }}</div>
												</a>
											</li>
											{% endfor %}<!-- /End -->
										</ul>
									</li>
									{% endfor %}<!-- /End -->
								</ul>
							</nav>
							<div class="content {{ performance.slug }}">
								<div style="" class="title">{{ performance.title }}</div>
								<div class="author">{{ performance.author }}</div>
								<div class="description">{{ performance.description }}</div>
								<div class="add">
									<!-- <div class="rate">{{ performance.rate }}+</div> -->
									<p class="premiere-date">Премьера состоялась</br><span class="nowrap">{{ performance.premiere_date }}</span></p>
									<p class="duration">Длительность спектакля</br><span class="nowrap">{{ performance.duration }}</span></p>
								</div>

								<div class="about">
									{{ performance.content|raw }}
								</div>

								{% if performance.participations %}<!-- Participations -->
								<h4>Создатели</h4>
								<dl class="creators">
									{% for creator in performance.participations %}{% if creator.type == 'creators' %}<!-- Creator -->
									<dt class="role">{{ creator.title }}</dt><dd class="name">{{ creator.person.grade }} {{ creator.person.title }}</dd>
									{% endif %}{% endfor %}<!-- /End -->
								</dl>

								<h4>Роли и исполнители</h4>
								<dl class="roles">
									{% for actor in performance.participations %}{% if actor.type == 'roles' %}<!-- Role -->
									<dt class="role">{{ actor.title }}</dt><dd class="name">{{ actor.person.grade }} {{ actor.person.title }}</dd>
									{% endif %}{% endfor %}<!-- /End -->
								</dl>
								{% endif %}<!-- /End -->

								{% if performance.video %}<!-- Video -->
								<div class="video">
									{% for video in performance.video %}<!-- Image -->
									<img src="{{video.path}}" alt="">
									{% endfor %}<!-- /End -->
								</div>
								{% endif %}<!-- /End -->

								{% if performance.featured %}<!-- Gallery -->
								<div class="gallery">
									{% for image in performance.featured %}<!-- Image -->
									<figure class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
										<a href="{{ image.path }}" itemprop="contentUrl" data-size="{{image.sizes.0}}x{{image.sizes.1}}">
											<img src="{{ image.thumb }}" itemprop="thumbnail" alt="{{ image.title }}" />
										</a>
										<figcaption itemprop="caption description">{{ image.description }}</figcaption>
									</figure>
									{% endfor %}<!-- /End -->
								</div>
								<!-- Root element of PhotoSwipe. Must have class pswp. -->
								<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
								    <!-- Background of PhotoSwipe.
								         It's a separate element, as animating opacity is faster than rgba(). -->
								    <div class="pswp__bg"></div>
								    <!-- Slides wrapper with overflow:hidden. -->
								    <div class="pswp__scroll-wrap">
								        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
								        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
								        <div class="pswp__container">
								            <div class="pswp__item"></div>
								            <div class="pswp__item"></div>
								            <div class="pswp__item"></div>
								        </div>
								        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
								        <div class="pswp__ui pswp__ui--hidden">
								            <div class="pswp__top-bar">
								                <!--  Controls are self-explanatory. Order can be changed. -->
								                <div class="pswp__counter"></div>
								                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
								                <button class="pswp__button pswp__button--share" title="Share"></button>
								                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
								                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
								                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
								                <!-- element will get class pswp__preloader--active when preloader is running -->
								                <div class="pswp__preloader">
								                    <div class="pswp__preloader__icn">
								                        <div class="pswp__preloader__cut">
								                            <div class="pswp__preloader__donut"></div>
								                        </div>
								                    </div>
								                </div>
								            </div>
								            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
								                <div class="pswp__share-tooltip"></div>
								            </div>
								            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
								            </button>
								            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
								            </button>
								            <div class="pswp__caption">
								                <div class="pswp__caption__center"></div>
								            </div>
								        </div>
								    </div>
								</div>
								{% endif %}<!-- /End -->

							</div>

<pre>
	{{ test|raw }}
</pre>



