{% partial __SELF__ ~ "::backgrounds" %}

<div class="container">
    <div class="wrap">
        <div class="content">

<div style="" class="title">{{ post.title }}</div>
{% if post.author %}<div class="author">{{ post.author }}</div>{% endif %}
{% if post.description %}<div class="description{% if post.author == null %} alone{% endif %}">{{ post.description }}</div>{% endif %}

<div class="duration">
    Длительность спектакля<br>
    <span class="nowrap">{{ post.duration | duration }}</span>
    {% if post.entracte == 0 %}<span class="nowrap"> без антракта</span>
    {% elseif post.entracte == 1 %}<span class="nowrap"> с одним антрактом</span>
    {% elseif post.entracte == 2 %}<span class="nowrap"> с двумя антрактами</span>
    {% endif %}
</div>


<div class="about">
    {{ post.content|raw }}
</div>


{% partial __SELF__ ~ "::event" %}

{% partial __SELF__ ~ "::participations" %}

{% partial __SELF__ ~ "::press" %}

{% partial __SELF__ ~ "::video" %}

{% partial __SELF__ ~ "::gallery" %}

<div class="premiere-date">Премьера состоялась</br><span class="nowrap">{{ post.premiere_date | humanDate }}</span></div>



        </div>
    </div>
</div>