{% if post.press | length > 0 %}<!-- Press -->
<div class="content">


<h4>Пресса</h4>
<div class="press">
    <ul class="press-list">
        {% for article in post.press|slice(0, 3) %}<!-- Article -->
        <li>«<a href="{{ article.url }}">{{ article.title }}</a>» / {{ article.source }}{{ article.source_date ? " / " ~ article.source_date | date("d-m-Y")}}</li>
        {% endfor %}<!-- /End -->
    </ul>
    <a href="">Все статьи о с пектакле «{{ post.title }}»</a>
</div>


</div>
<!-- /End -->{% endif %}