<dl class="{{ type }}">
    {% for participation in roles %}{% if participation.type == type %}<!-- {{ type }} -->
    <dt class="role">{{ participation.title }}{{ participation.type == 'roles' and participation.description ? ", " ~  participation.description }}</dt>
    {% if participation.person %}
    <dd class="name">
        {{ participation.person.grade }}
        {% if participation.person.published %}
        <a href="{{ participation.person.url }}" style="white-space:nowrap">{{ participation.person.title }}</a>
        {% else %}
        <span style="white-space:nowrap">{{ participation.person.title }}</span>
        {% endif %}
        {{ participation.type == 'creators' and participation.description ? ", " ~  participation.description }}
    </dd>
    {% endif %}
    {% if participation.persons %}
    <dd class="name">
        {% for key, person in participation.persons %}
        {% if key != 0 %}, {% endif %}
        {{ person.grade }}
        {% if person.published %}
        <a href="{{ person.url }}" style="white-space:nowrap">{{ person.title }}</a>
        {% else %}
        <span style="white-space:nowrap">{{ person.title }}</span>
        {% endif %}
        {{ participation.type == 'creators' and participation.description ? " (" ~  participation.description ~ ")" }}
        {% endfor %}
    </dd>
    {% endif %}
    {% endif %}{% endfor %}<!-- /End -->
</dl>
