<dl class="{{ type }}">
    {% for person in roles %}{% if person.type == type %}<!-- {{ type }} -->
    <dt class="role">{{ person.title }}</dt>
    {% if person.person %}
    <dd class="name">
        {{ person.person.grade }}
        {% if person.person.published %}
        <a href="{{ person.person.url }}" style="white-space:nowrap">{{ person.person.title }}</a>
        {% else %}
        <span style="white-space:nowrap">{{ person.person.title }}</span>
        {% endif %}
        {{ person.description }}
    </dd>
    {% endif %}
    {% if person.persons %}
    <dd class="name">
        {% for key, person in person.persons %}
        {% if key != 0 %} / {% endif %}
        {{ person.grade }}
        {% if person.published %}
        <a href="{{ person.url }}" style="white-space:nowrap">{{ person.title }}</a>
        {% else %}
        <span style="white-space:nowrap">{{ person.title }}</span>
        {% endif %}
        {{ person.description }}
        {% endfor %}
    </dd>
    {% endif %}
    {% endif %}{% endfor %}<!-- /End -->
</dl>
